//@import '/home/termai/.cache/wal/colors.scss';

//$background:#db1922;
//$foreground:#070509;

//Pink(bg)//Black(fg)
$background:#070509;
//$foreground:#db1922;
//$foreground:#fe1c27;
$foreground:#ff0000;
$fcolor:white;
//$fcolor:#09140f;

*{
  all:unset;
}


.newbar {

  font-family: "JetBrainsMono NF"; 
}

.parent {
  background-color:$background;
  border-radius:16px;
  //padding:4px 4px 4px 4px;
  opacity:0.9;
  border:2px solid $foreground;
}

.end-box {
  margin-right:20px;
}

.time {
  border:none;
  //padding:0px 2px 0px 8px;
  //padding:0px 2px 0px 6px;
  padding:0px 4px;
  border-radius:6px;
  color:$fcolor;
  background-color:$foreground;
  //margin-left:254px;
  //margin-left:154px;
  margin-top:5px;
  margin-bottom:5px;
  font-size:1.4em;
  font-weight:bold;
}


.wifi {
  background-color:$foreground;
  color:white;
  font-size:1.8em;
  border-radius:10px;
  padding:0px 18px 0px 12px;
  margin:4px 16px 4px 2px;
}




.volume {
  border:none;
  //padding:0px 2px 0px 8px;
  padding:0px 8px 0px 8px;
  border-radius:6px;
  color:$fcolor;
  background-color:$foreground;
  margin-right:10px;
  margin-top:4px;
  margin-bottom:4px;
  font-size:1.4em;
  font-weight:bold;
}


.menu {
  border:none;
  //padding:0px 2px 0px 8px;
  padding:0px 8px 0px 8px;
  border-radius:6px;
  color:$fcolor;
  background-color:$foreground;
  margin-right:10px;
  margin-top:4px;
  margin-bottom:4px;
  font-size:1.4em;
  font-weight:bold;
}

.tag-button {
  margin-left:10px;
  padding:0px 8px 0px 8px; 
  color:gray;
  font-size:2em;
}

.numoftags {
  margin-left:16px;
  margin-bottom:1px;
  font-size:1.2em;
}

.focused {
  //color:white;
  //background-color:blue;
  color:red;
  //background-color:#005577;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.empty {
//  color:white;
//  background-color:gray;
}

.occupied {
  //background-color:white;
  color:white;
}

.media {
  margin-right:30px;
  margin-top:4px;
  //background-image:url('/tmp/cover.jpg');
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  .media-image {
    margin-right:14px;
  }
  .media-buttons {
    margin-left:14px;
    background-color:$foreground;
    padding:0px 14px;
    border-radius:10px;
    font-size:1.8em;
    margin-bottom:3px;
    transition: background-color 0.3s ease, color 0.3s ease;
    .ispaused-button {
      &:hover {
        color:black;
      }
    }
    .prev-button {
      label {
        margin-right:8px;
      }
      &:hover {
        color:black;
      }
    }
    .next-button {
      label {
        margin-left:8px;
      }
      &:hover {
        color:black;
      }
    }
  }
  .media-text {
    color:$foreground;
    font-size:1.2em;
  }

  .cover-art {
    margin-left:20px;
  }
}






.user-container {
  margin-right:20px;
  margin-bottom:4px;
  .user-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //border:0px solid $foreground;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px rgba($background, 0.3);
    min-width:36px;
    margin-right:10px;
  }
  .user-text {
    font-size:1.2em;
  }
}



scale trough {
  all: unset;
  background-color: white;
  border-radius: 5px;
  min-height: 8px;
  min-width: 100px;
  margin: .3rem 1rem .3rem 0;
}

.volbar trough highlight {
  background-color: $foreground;
  border-radius: 5px;
}

.slider {
  margin-right:0.6rem;
}
/*
.slider trough {
  color:$background;
  background-color: $foreground;
}
*/

.volume-icon{
  //margin:2px 0px 2px 10px;
  color: white;
  font-size:1.4em;
  font-weight:bold;
  background-color:$foreground;
  padding:0px 10px 0px 10px;
  border-radius:10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin:4px 8px 4px 0px;
}

tooltip {
  //background-color:$foreground;
  background-color:$background;
  color:white;
}


.weather {
  //background-color:$foreground;
  color:$foreground;
  font-size:1.4em;
  margin-top:7px;
  margin-right:30px;
  label {
    margin-left:10px;
  }
}
