* {

  all:unset;
  //background-color:red;
}

.meanwhile {
  background-image:url('/home/termai/.config/eww/meanwhile/images/bgimage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
